/* Modal Overlay */
.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: 999; 
}

.modal1 {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    overflow-y: auto; 
    background-color: white;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
}

.modal1.active {
    transform: translateX(0); 
}

.modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.close1 {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1-header {
    display: flex;
    align-items: center;
}

.cart-icon {
    margin-right: 10px;
}

.close-section {
    display: flex;
    align-items: center;
}

.close-text {
    margin-right: 5px;
    cursor: pointer;
}

.custom-login-form-container ,#registerform ,#passwordresetform{
    max-width: 100%;
    margin: 0 auto;
    width: 90%;
    padding-top: 50px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #2C2C2C;
    margin-bottom: 5px;
    font-family: Ford Antenna;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.input-group input[type="text"], .input-group input[type="password"] ,.input-group input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    font-size: 16px;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus,
.input-group input[type="email"]:focus {
    border-color: #6c63ff;
    outline: none;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.remember-me label {
    display: inline-block;
    margin-left: 8px;
    font-family: Ford Antenna;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2C2C2C;
}

.forgot-password-link {
    color: #157FFF;
    text-decoration: none;
    font-family: Ford Antenna;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.forgot-password-link:hover {
    text-decoration: underline;
}

/* Button Styles */
.button-group {
    margin-top: 20px;
}

.button-primary {
    background-color: #1E00AE;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Ford Antenna;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.015em;

}

.button-primary:hover {
    background-color: #2727d6;
}

.button-secondary {
    background-color: transparent;
    color:#1E00AE;
    padding: 14px;
    border: 1px solid #1E00AE;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    font-family: Ford Antenna;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: #3b3bff;
    color: white;
}
.login-error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.login-success-message {
    color: green;
    margin-bottom: 15px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 4px;
}

.register-error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin-top: 0px;
    border-radius: 4px;
}
.back-login {
    text-align: center;
    padding: 10px;
    font-family: Ford Antenna;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}



/* responsive */

@media screen and (max-width: 1200px){
    .modal1 {
        width: 400px;
    }
}

@media screen and (max-width: 410px){
    .modal1 {
        width: 300px;
    }
    .remember-me label {
        font-size: 12px;
        line-height: 20px;
    }
    .forgot-password-link {
        font-size: 12px;
        line-height: 20px;
        margin-right: -20px;
    }
    .remember-me {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    
}

